.home {
  color: #c42717;
  background-color: white;
  font-family:Monaco,monospace;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: white;
}

.page-container {
  width: 1100px;
  margin: 10px auto;
  padding: 32px;
  background-color: white;
}


.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-listing .product-list-item  {
  padding: 10px 80px;
  width: 200px;

}

.product-list-item {
   transition: transform .2s;

}

.product-list-item:hover{
  transform: scale(1.5);
}
